{% extends "base.html" %}
{% block content %}
{% import "macros/utility.html" as utility %}

{{utiliy.error_display(errors)}}

<h2>Editing a comment in: <small>{{meme.title}}</small></h2>
<form action="/memeDB/comment/{{comment.id}}/edit" method="post">
    <textarea class="form-control" rows="5" name="message">{{comment.message}}</textarea>
    <br/>
    <button type="submit" class="btn btn-primary">Save Changes</button>
    <button type="reset" class="btn btn-default">Undo</button>
    <a href="/memeDB/memes/{{meme.id}}"><button type="button" class="btn btn-warning">Return without saving</button></a>
    <a class="btn btn-danger" href="/memeDB/comment/{{comment.id}}/delete">Delete</a>
</form>
{% endblock %}
