{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
{% import "macros/utility.html" as utility %}
<h2>Add a new meme</h2>

{{utility.error_display(errors)}}

<form action="/memeDB/memes/create" method="post">
    <div class="form-group">
        <label>Title</label>
        <input name="title" type="text" class="form-control" value="{{attributes.title}}">
    </div>
    <div class="form-group">
        <label>Type</label>
        <select name="type" class="form-control">
            <option>Copypasta</option>
            <option {% if attributes.type == "Image" %}selected{% endif %}>Image</option>
            <option {% if attributes.type == "Video" %}selected{% endif %}>Video</option>
        </select>
    </div>
    <div class="form-group">
        <label>Content</label>
        <textarea class="form-control" rows="5" name="content">{{attributes.content}}</textarea>
        <!--<input name="content" type="text" class="form-control" value="{{attributes.content}}">-->
        {{forms.meme_content_help()}}
    </div>
    <button type="submit" class="btn btn-success">Add</button>
    <a href="/memeDB"><button type="button" class="btn btn-warning">Return without saving</button></a>
</form>
{% endblock %}
