{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
{% import "macros/utility.html" as utility %}
<h2>Currently editing meme: <small>{{meme.title}}</small></h2>

{{utility.error_display(errors)}}

<form action="{{base_path}}/memes/{{meme.id}}/edit" method="post">
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="title" value="{{meme.title}}">
    </div>
    <div class="form-group">
        <label>Type</label>
        <input type="text" class="form-control" name="type" value="{{meme.type}}" disabled>
        <p class="help-block">The type of a meme cannot be changed</p>
    </div>
    <div class="form-group">
        <label>Content</label>
        <textarea class="form-control" rows="5" name="content">{{meme.content}}</textarea>
        <!--<input type="text" class="form-control" name="content" value="{{meme.content}}">-->
        {{forms.meme_content_help()}}
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
    <button type="reset" class="btn btn-default">Undo</button>
    <a href="{{base_path}}/memes/{{meme.id}}"><button type="button" class="btn btn-warning">Return without saving</button></a>
    <a class="btn btn-danger" href="{{base_path}}/memes/{{meme.id}}/delete" id="deleteButton">Delete</a>
</form>
{% endblock %}
