{% extends "base.html" %}
{% block content %}
{% import "macros/utility.html" as utility %}
<form class="form-inline" action="" method="get">
    <div class="col-xs-12 col-md-8 form-group">
        <input name="search_phrase" type="search" class="form-control" value="{{search_phrase}}" style="width:100%">
    </div>
    <div class="col-xs-12 col-md-4 form-group">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <label for="search_type">Search by</label>
            </div>
            <div class="col-xs-8 col-md-4">
                <select name="search_type" class="form-control" id="search_type" style="width:100%">
                    <option>Title</option>
                    <option {% if search_type == "Type" %}selected{% endif %}>Type</option>
                    <option {% if search_type == "Content" %}selected{% endif %}>Content</option>
                    <option {% if search_type == "Poster" %}selected{% endif %}>Poster</option>
                </select>
            </div>
            <div class="col-xs-4 col-md-4">
                <button type="submit" class="btn btn-default" style="width:100%">Search</button>
            </div>
        </div>
    </div>
</form>
<br/>
<br/>
<br/>
{{utility.meme_display(memes)}}
<!--placeholder?-->
{{utility.pagination(pages, current_page, additional_params)}}
{% endblock %}