{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

{{forms.info_display(info, error)}}
{{forms.error_display(errors)}}

<div>
    <h2>{{meme.title}}</h2>
    {% if meme.type == 'Image' %}
    <img src="{{meme.content}}" class="img-responsive" alt="picture of a meme">
    {% elseif meme.type == 'Copypasta' %}
    <p>{{meme.content}}</p>
    {% elseif meme.type == 'Video' %}
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{meme.content}}" allowfullscreen style="frameborder:0"></iframe>
    </div>
    {% endif %}
    Posted by: <a href="/memeDB/memes?search_phrase={{meme.poster}}&search_type=Poster">{{meme.poster}}</a>
</div>
<br/>
<div>
    {% if user %}
    <!--tarkistetaan onko jo suosikeissa-->
    <a href="/memeDB/memes/{{meme.id}}/favorite"><button class="btn btn-success">Favourite</button></a>
    {% if user.username == meme.poster %}
    <a href="/memeDB/memes/{{meme.id}}/edit"><button class="btn btn-warning">Edit</button></a>
    {% endif %}
    {% endif %}
</div>
<br/>
<div>
    <table class="table table-bordered table-striped" style="width:100%">
        <tbody>
            {% for comment in comments %}
            <tr>
                <td style="width:20%;text-align:center">{{comment.poster}}</td>
                <td style="width:50%">{{comment.message}}</td>
                <td style="width:20%;text-align:center">{{comment.posted|date('d.m.Y H:i')}}
                    {% if comment.edited != null %}
                    <br/><strong>Edited on:</strong><br/>{{comment.edited|date('d.m.Y H:i')}}
                    {% endif %}
                </td>
                {% if user.username == comment.poster %}
                <td style="width:10%"><a href="/memeDB/comment/{{comment.id}}/edit"><button class="btn btn-warning">Edit</button></a></td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if user %}
<form action="/memeDB/comment/create" method="post">
    <textarea class="form-control" rows="5" name="message">{{failed_message}}</textarea>
    <input name="parent_meme" type="hidden" class="form-control" value="{{meme.id}}">
    <button type="submit" class="btn btn-default">Send</button>
</form>
{% endif %}
{% endblock %}
