{% macro error_display(errors) %}
{% if errors %}
<div class="alert alert-danger" align="left">
    <ul>
        {% for error_class in errors %}
        {% for error in error_class %}
        <li>{{error}}</li>
        {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endmacro %}

{% macro meme_content_help() %}
<p class="help-block">For copypastas this is the content itself, for images the content should be a link to the image and for videos their video id (from Youtube) is enough. </p>
{% endmacro %}

{% macro login_form_username() %}
<div class="form-group">
    <label>Username</label>
    <input class="form-control" name="username" value="{{username}}" type="text" style="max-width:600px">
</div>
{% endmacro %}

{% macro login_form_password(label, name) %}
<div class="form-group">
    <label>{{label|default('Password')}}</label>
    <input class="form-control" name="{{name|default('password')}}" type="password" style="max-width:600px">
</div>
{% endmacro %}

{% macro info_display(info, error) %}
{% if error %}
<div class="alert alert-danger">
    {{error}}
</div>
{% endif %}
{% if info %}
<div class="alert alert-success">
    {{info}}
</div>
{% endif %}
{% endmacro %}
