{% macro meme_content_help() %}
<p class="help-block">For copypastas this is the content itself, for images the content should be a link to the image and for videos their video id (from Youtube) is enough.</p>
<p class="help-block"><strong>Tip:</strong> The video id in Youtube videos is located in the URL like this <code>https://www.youtube.com/watch?v= V I D E O I D</code></p>
{% endmacro %}

{% macro login_form_username(username) %}
<div class="form-group">
    <label>Username</label>
    <input class="form-control" name="username" value="{{username}}" type="text" style="max-width:600px">
</div>
{% endmacro %}

{% macro login_form_password(label, name) %}
<div class="form-group">
    <label>{{label|default('Password')}}</label>
    <input class="form-control" name="{{name|default('password')}}" type="password" style="max-width:600px">
</div>
{% endmacro %}
