{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<div align="center">
    <h1>Log in to your account</h1>
    <br/>

    {{forms.info_display(info, error)}}

    <form method="post" action="/memeDB/login">
        {{forms.login_form_username(username)}}

        {{forms.login_form_password()}}

        <button type="submit" class="btn btn-primary">Log in</button>
    </form>
    <br/>
    <br/>
    <p>Don't have an account? <a href="/memeDB/register" style="color:blue">Create an account.</a></p>
</div>
{% endblock %}