{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
{% import "macros/utility.html" as utility %}
<div align="center">
    <h1>Register an account</h1>

    {{utility.error_display(errors)}}

    <form method="post" action="{{base_path}}/register">
        {{forms.login_form_username(username)}}

        {{forms.login_form_password()}}

        {{forms.login_form_password("Confirm your password", "password_confirm")}}

        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
{% endblock %}