{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<div align="center">
    <h1>Register an account</h1>

    {{forms.error_display(errors)}}

    <form method="post" action="/memeDB/register">
        {{forms.login_form_username()}}

        {{forms.login_form_password()}}

        {{forms.login_form_password("Confirm your password", "password_confirm")}}

        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
{% endblock %}